.user-info {
  padding: 3rem 1rem;
  background: linear-gradient(to right-bottom, #ff00001c #0000ff2f);
  background-size: cover;
  background-position: center;
}

.mycard {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition-duration: 300ms;
}

.my-card-hover {
  transform: translateY(-10px);
  box-shadow: 0 14px 28px rgba(93, 203, 253, 0.25),
    0 10px 10px rgba(241, 240, 137, 0.22);
}
h1 {
  background-image: linear-gradient(
    to bottom right,
    #62ccec,
    #06bb33,
    #093b74,
    #c9b60d
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
}
